@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111111;
    --accent: #E5FF00;
  }

  body {
    @apply bg-[#0a0a0a] text-white selection:bg-[#E8942A] selection:text-black;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tighter font-black uppercase;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .masonry-grid {
    column-count: 1;
    column-gap: 2rem;
  }

  @media (min-width: 768px) {
    .masonry-grid {
      column-count: 2;
    }
  }

  @media (min-width: 1024px) {
    .masonry-grid {
      column-count: 3;
    }
  }

  .masonry-item {
    break-inside: avoid;
    margin-bottom: 2rem;
  }

  .stroke-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
    color: transparent !important;
    display: inline-block;
  }
}